<a href="https://colab.research.google.com/github/nikibhatt/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/module4/NB_Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

In [0]:
import pandas as pd
df = pd.read_csv('Most-Recent-Cohorts-Scorecard-Elements.csv')
print(df.shape)
df.head()

(7112, 190)

   UNITID    OPEID  ...  OMAWDP8_PARTTIME_POOLED_SUPP OMENRUP_PARTTIME_POOLED_SUPP
0  100654   100200  ...                        0.2635                       0.2852
1  100663   105200  ...                        0.3977                       0.2008
2  100690  2503400  ...                        0.4486                       0.1589
3  100706   105500  ...                        0.3476                       0.2331
4  100724   100500  ...                        0.1678                       0.2308

[5 rows x 190 columns]

In [0]:
df = pd.read_csv('googleplaystore.csv')
print(df.shape)
df.head()

(10841, 13)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]